
{% load static %}



<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Kidooza.com</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'homepage/assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'homepage/assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'homepage/assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'homepage/assets/css/lightbox.css' %}">



    </head>
    
    <body>
 
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static 'homepage/assets/images/log1.png' %}" width="180" height="60" alt="Logo">
                        </a>

                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>

                             <li class="submenu">
                                <a href="javascript:;">Boy's</a>
                                <ul>
                                  <li><a href="#">T-Shirts & Tops</a></li>
                                <li><a href="#">Pants & Shorts</a></li>
                                <li><a href="#">Outerwear</a></li>
                                <li><a href="#">Formal Wear</a></li>
                                <li><a href="#">Ethnic Wear</a></li>
                                </ul>
                            </li>

                            <li class="submenu">
                                <a href="javascript:;">Girl's</a>
                                <ul>
                                     <li><a href="#">Dresses & Skirts</a></li>
                                     <li><a href="#">Tops & Blouses</a></li>
                                     <li><a href="#">Leggings & Pants</a></li>
                                     <li><a href="#">Traditional Wear</a></li>
                                     <li><a href="#">Party Dresses</a></li>
                                </ul>
                            </li>

                             <li class="submenu">
                                <a href="javascript:;">Toys</a>
                                 <ul>
                                    <li><a href="#">Educational Toys</a></li>
                                    <li><a href="#">Outdoor Toys</a></li>
                                    <li><a href="#">Action Figures</a></li>
                                    <li><a href="#">Dolls & Accessories</a></li>
                                    <li><a href="#">Building Sets</a></li>
                                </ul>

                            </li>

                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#explore">Explore</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>

        
    </header>